.page-header
	h1 Labels
	h1
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	h2
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	h3
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	h4
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	h5
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	h6
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger
	p
		span.label.label-default Default
		span.label.label-primary Primary
		span.label.label-success Success
		span.label.label-info Info
		span.label.label-warning Warning
		span.label.label-danger Danger