//- title
- var PageTitle = '문서제목'



//- css, js
//- 플러그인의 경우 bower 를 통해설치후 복사해서 사용하기때문에
//- css,js 짝을 이루는 경우가 보통이다.

//- stylesheet
- var nanumgothic = false
- var jqueryUi = false
- var bootstrap = true
- var bxslider = false
- var magnificPopup = false
- var modernizr = false
- var style = true



//- javascript, css 와 동일
- var jQuery = true
- var angular = false
- var commonjs = true





//-  html 영역에 대한 설정
- var banner = true
- var quick = true



