//- 폰트, 플러그인, 사이트 스타일시트


//- 나눔고딕웹폰트
if nanumgothic
	<link rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css'>

//- plugins

//- jquery ui
if jqueryUi
	link( rel='stylesheet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css' )

//- bootstrap
if bootstrap
	link( rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css' )

//- bsSlider
if bsSlider
	link( rel='stylesheet', href='/plugins/bxSlider/jquery.bxslider.css' )

//- magnificPopup
if magnificPopup
	link( rel='stylesheet', href='/plugins/magnific-popup/magnific-popup.css' )

//- style
if style
	link( rel='stylesheet', href='/css/style.css' )

//- modernizr
if modernizr
	<script src='/plugins/modernizr/modernizr.js'></script>