//- link 와 title 믹스인 설정
//- 2번째는 자식이 있는것을 설정


mixin navMenu(menu_items)
	ul.navMenu
		each top_item in menu_items
			li
				+navLinks(top_item)
				if top_item.child
					ul
						each child_item in top_item.child
							li
								+navLinks(child_item)


//- 자식 link 요소 
mixin navLinks(item)
	- var linkAtts = { 'href': item.link }
	a()&attributes(linkAtts)= item.title





div.header
	+navMenu([
		{ 'title': 'one', 'link': 'one.html' },
		{ 'title': 'two', 'link': 'two.html', 
			child: [
				{ 'title': 'child one', 'link': 'childOne.html' },
				{ 'title': 'child two', 'link': 'childtwo.html' },
				{ 'title': 'child three', 'link': 'childthree.html' }
			] 
		},
		{ 'title': 'three', 'link': 'three.html' },
		{ 'title': 'four', 'link': 'four.html' }
	])



